@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --black: #2E363E;
    --btn: #FED84C;
    --text: #FFFFFF;
    --footer: #7E868E;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* CONTAINER */

.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* CONTAINER */


/* BTN */

.btn {
    max-width: 166px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #000;
    background: var(--btn);
    text-align: center;
    font-family: var(--Roboto);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    color: #000;
    transition: .4s;
}

.btn:hover {
    background-color: var(--blue-dark);
    color: var(--black);
    color: var(--btn);
}

/* BTN */

/* HEADER */

.berry-1 {
    position: absolute;
    top: 75px;
}

.berry-2 {
    position: absolute;
    right: 0;
    top: 60px;
}

.berry-3 {
    position: absolute;
    top: 700px;
}

.berry-4 {
    position: absolute;
    top: 690px;
    left: 1100px;
}

.site-header {
    width: 100%;
    height: 82px;
    padding-top: 15px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.077);

}

.header-text {
    width: 179px;
    height: 31px;
    font-size: 20px;
    font-weight: 400;
    color: var(--text);
}

.addrees {
    width: 180px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 500px;
    column-gap: 5px;
    color: var(--text);
}

.addrees-icon {
    margin: 5px;
    color: var(--text);
}


.header-content {
    width: 231px;
    height: 51px;

}

.phone-icon {
    display: inline;
    color: var(--text);
}

.header-phone {
    font-size: 25px;
    font-weight: 400;
    align-items: center;
    display: inline;
    color: var(--text);
}

.time {
    display: block;
    text-align: end;
    font-size: 14px;
    color: var(--text);
}



/* HEADER */


/* HERO */

.hero-img {
    width: 100%;
    position: absolute;
}

.site-hero {
    width: 100%;
    height: 870px;
    position: relative;
}

.site-hero__content {
    width: 100%;
    height: 100%;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    height: 80vh;
}

.hero-title {
    color: var(--text);
    font-size: 48px;
    font-weight: 700;
    width: 550px;
    text-align: justify;
}

.hero-text {
    width: 400px;
    font-weight: 400;
    font-size: 24px;
    color: var(--text);
    text-align: justify;
}

.span-text {
    width: 110px;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 20px;
}

.item {
    display: flex;
    align-items: center;
}


/* HERO */


/* MENU */

.menu-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.menu-card {
    width: 380px;
    height: 502px;
    box-shadow: 2px 8px 16px 0px #1042c10f;
}

.site-menu {
    width: 100%;
    height: 1000px;
    position: absolute;
}


.menu-title {
    text-align: center;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.menu-img {
    width: 380px;
    height: 245px;
}

.menu-text {
    font-weight: 700;
    font-size: 24px;
}

.menu-desc {
    width: 230px;
    font-weight: 400;
    font-size: 16px;
}

.price {
    font-weight: 500;
    font-size: 24px;
    padding-top: 10px;
}

.menu-berry-1 {
    position: absolute;
    left: 35px;
    top: 170px;
}

.menu-berry-2 {
    position: absolute;
    top: 800px;
    right: 0;
}

.menu-berry-3 {
    position: absolute;
    top: 1200px;
    left: 70px;
}






/* MENU */